<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
</head>
  <body>
      <div class="row">
          <div class=".col-sm-12 .col-lg-6">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Nome do Projeto</h5>
                  <p class="card-text">Mussum Ipsum, cacilds vidis litro abertis. Viva Forevis aptent taciti sociosqu ad litora torquent. Mé faiz elementum girarzis, nisi eros vermeio. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.</p>
                  <button type="button" class="btn btn-success">Success</button>
                  <div class="border">
                    <div class="row">
                        <div class=".col-sm-12 .col-lg-12">
                            <p>Título do próximo evento</p>
                            <p>Data do próximo evento</p>
                            <p>Breve descrição</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class=".col-sm-4 .col-lg-4">
                            <p>TAG</p>
                        </div>
                        <div class=".col-sm-4 .col-lg-4">
                            <p>TAG</p>
                        </div>
                        <div class=".col-sm-4 .col-lg-4">
                            <p>TAG</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class=".col-sm-12 .col-lg-6">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
          </div>
        </div>
        
  </body>
</html>
